.pac-card {
  top: 10px !important;

  .pac-container {

    #pac-input {
      background-color: #fff;
      font-size: 20px;
      font-weight: 300;
      padding: 5px 15px;
      text-overflow: ellipsis;
      width: 400px;
    }

    .pac-item {
      font-size: 16px !important;
      cursor: pointer;

      &:hover {
        background-color: #87cfff;
      }
    }
  }
}

.map {
  height: 100%;
  width: 100%;
}
