<div class="pac-card" #pacCard>
  <div class="pac-container">
    <label for="pac-input"></label>
    <input id="pac-input" type="text"
           placeholder="Enter a location" #pacInput>
  </div>
</div>

<div #map class="map"></div>
<div #infoWindowContent>
  <img src="" width="16" height="16" #placeIcon alt="">
  <span #placeName></span><br>
  <span #placeAddress></span>
</div>
